* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    font-size: 30px;
    color: #D2872C;

}

.menu {
    display: flex;
    gap: 15px;
}

.menu-item {
    color: #766F68;
}

.main-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.main-text-title {
    font-size: 90px;
    font-weight: 1000;
    color: #766F68;
}

.main-text-paragraph {
    font-size: 46px;
    color: #766F68;

}

.main-text-button {
    background-color: #D2872C; 
    width: 400px;
    height: 80px;
    border: none;
    color: white;
    font-size: 34px;
    border-radius: 10px;
}

.main-text-button:hover {
    background-color:#8b6435;
}
